name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: dtolnay/rust-toolchain@stable
      
      - name: Build
        run: cargo build --release --verbose
      
      - name: Test
        run: cargo test --release --verbose
      
      - name: Create Release Dir
        run: |
          New-Item -ItemType Directory -Force -Path release
          Copy-Item target\release\xmove.exe release\
          Copy-Item target\release\copyx.exe release\
          Copy-Item README.md release\
        shell: pwsh
      
      - name: Archive Release
        run: |
          Compress-Archive -Path release\* -DestinationPath xcom-windows-x64.zip
        shell: pwsh
      
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: xcom-windows-x64.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}